<mat-nav-list>
  <div mat-subheader style="color: var(--mat-sys-primary); font-weight: 500">
    {{ 'export.title' | translate }}
  </div>
  <a mat-list-item (click)="close()">
    <mat-icon matListItemIcon>link</mat-icon>
    <span matListItemTitle>{{ 'export.copy' | translate }}</span>
  </a>
  <a mat-list-item (click)="close()">
    <mat-icon matListItemIcon>code</mat-icon>
    <span matListItemTitle>{{ 'export.css' | translate }}</span>
  </a>
  <a mat-list-item (click)="close()">
    <mat-icon matListItemIcon>data_object</mat-icon>
    <span matListItemTitle>{{ 'export.json' | translate }}</span>
  </a>
</mat-nav-list>