<div class="state-matrix">
  <div class="matrix-row">
    <span class="row-label">Filled</span>
    <button mat-flat-button>Default</button>
    <button mat-flat-button color="primary">Primary</button>
    <button mat-flat-button color="accent">Secondary</button>
    <button mat-flat-button color="warn">Warn</button>
    <button mat-flat-button disabled>Disabled</button>
  </div>
  <div class="matrix-row">
    <span class="row-label">Stroked</span>
    <button mat-stroked-button>Default</button>
    <button mat-stroked-button color="primary">Primary</button>
    <button mat-stroked-button disabled>Disabled</button>
  </div>
  <div class="matrix-row">
    <span class="row-label">FAB & Chips</span>
    <button mat-fab color="primary"><mat-icon>add</mat-icon></button>
    <button mat-mini-fab color="accent"><mat-icon>edit</mat-icon></button>
    <mat-chip-listbox>
      <mat-chip-option selected>Selected</mat-chip-option>
      <mat-chip-option>Default</mat-chip-option>
      <mat-chip-option disabled>Disabled</mat-chip-option>
    </mat-chip-listbox>
  </div>
</div>
