@use '@angular/material' as mat;

// NOTE: External consumers who NPM install the library will use:
// @use 'ng-material-preferences/src/styles/theming' as prefs;

// For local monorepo development, we point directly to the project folder:
@use '../projects/ng-material-preferences/src/styles/theming' as prefs;

@include prefs.setup-theming();

// Global styles
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  transition:
    background-color 200ms ease,
    color 200ms ease;
}

// APP overrides
.custom-menu-panel .mat-mdc-menu-content {
  padding: 0;
}
.mat-bottom-sheet-container {
  border-top-left-radius: var(--mat-sys-corner-extra-large) !important;
  border-top-right-radius: var(--mat-sys-corner-extra-large) !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
